<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>html-css-toboolist</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="logo container"><img src="./img/logo.png" alt="logo"></div>

    </header>
    <!-- main -->
    <div id="app">
    <main  class="container">
        <!-- box add -->
        <div class="box">
            <input class="form-control" type="text" placeholder="es. fare la spesa...">
            <button  class="btn">Add Task</button>
           
        </div>
        <div class="divider"></div>
        <!-- list -->
        <div class="box-list">
            <ul>
                <li> <span class="title">&#10148; TASK</span>
                    <ul>
                        <li v-for="todo in todoList">
                            <div class="box-list-2"> <span v-if="todo.done" class="circle green ">&#10003;</span>
                                <span v-if="!todo.done" class="circle red ">&#10007;</span> <span
                                :class="{'tex-through':todo.done}">{{todo.text}} <span></span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>
</div>
    <footer>
        <span class="divider"></span>
    </footer>
    <script src="./js/script.js"></script>
</body>

</html>